<div class="container py-3">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-7">
      <h4 class="text-center"><i class="far fa-file-alt"></i> 投稿編集</h4>
      <div class="ml-2 mb-5 text-center small">(タイトルと本文のみ入力必須)</div>
      <%= render 'form', submit: "更新する", post: @post, obj: "編集" %>
    </div>
  </div>
</div>
