<div class="container py-3">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-7">
      <h4 class="text-center mb-5"><i class="far fa-file-alt"></i> 投稿編集</h4>
      <%= render 'form', submit: '更新する', post: @post %>
    </div>
  </div>
</div>
