<div class="container">
  <div class="row">
    <div class="col-md-4 mb-3 d-none d-md-block">
      <%= render 'public/users/info', user: current_user, liked_post: @liked_post, posts: @current_user_posts %>
    </div>
    <div class="col-md-7 offset-md-1">
      <h2 class="mb-4"><span><i class="far fa-images fa-xs"></i></span> All Posts (<%= @publish_post_all.count %>)</h2>
      <% if @publish_post_all.present? %>
        <%= render 'index', posts: @publish_post_all %>
      <% else %>
        <div class="page-margin">
          <p>現在、投稿はありません。</p>
          <%= render 'public/users/mypage.btn', user: current_user %>
        </div>
      <% end %>
    </div>
  </div>
</div>