<div class="container">
  <div class="row">
    <div class="col-4">
      <%= render 'public/users/info', user: current_user, liked_post: @liked_post, posts: @posts %>
    </div>
    <div class="col-6 pl-4">
      <h2 class="mb-4"><span><i class="far fa-images fa-xs"></i></span> All Posts (<%= @publish_post_all.count %>)</h2>
      <% if @posts.present? %>
        <%= render 'index', posts: @posts %>
      <% else %>
        <p>現在、投稿はありません。</p>
      <% end %>
      <%= render 'public/users/mypage.btn', user: current_user %>
    </div>
  </div>
</div>