<div class="container">
  <div class="row">
    <div class="col-4">
      <%= render 'public/users/info', user: @user, liked_post: @liked_post, posts: @posts %>
    </div>
    <div class="col-6 pl-4">
      <h3>My private post</h3>
      <% if @posts.present? %>
        <%= render 'public/posts/index', posts: @unpublish_posts %>
      <% else %>
        <p>現在、非公開投稿はありません。</p>
      <% end %>
    </div>
  </div>
</div>