<div class="container">
  <div class="row">
    <div class="col-4">
      <%= render 'public/users/info', user: @user, liked_post: @liked_post, posts: @posts %>
    </div>
    <div class="col-6 pl-4">
      <%= render 'public/posts/show', post: @post %>
    </div>
  </div>
</div>