<div class="form-group-sm form-inline">
  <%= form_with url: search_path, method: :get, local: true, class: "form-group form-inline" do |f| %>
    <%= f.search_field :keyword, placeholder: 'キーワードで投稿を検索', class: "search-form-text form-control", size: "22%" %>
    <%= f.submit '検索', class: "search-btn btn btn-outline-light" %>
  <% end %>
</div>