<div class="row d-flex justify-content-center text-secondary">
  <div class="col-sm-6 text-sm-center top-text">ようこそ、Snuggleへ！</div>
  <div class="w-100"></div>
  <div class="sub-text">
    <div class="col-12 h3 mt-5 text-sm-center">カフェ　X　学習のコミュニティサイト</div>
    <div class="col-12 h3 mt-3 text-sm-center">カフェに立ち寄るように、仲間と気軽に集まれる場所に</div>
  </div>
</div>
