<div class="pt-2 px-5 bg-white box-container">
  <%= render "public/homes/top" %>
  <div class="row mt-lg-3 pt-5 justify-content-center">
    <div class="col-xl-3 p-xl-5 mx-lg-3 col-md-3 p-md-3 mx-md-1 p-5 form-group bg-white shadow signup-box">
      <b>はじめてご利用の方</b>
      <p>こちらから新規登録をお願いします。</p>
      <%= link_to '新規登録', new_user_registration_path, class: "btn btn-outline-success" %>
    </div>
    <div class="col-xl-3 p-xl-5 mx-lg-3 col-md-3 p-md-3 mx-md-1 p-5 form-group bg-white shadow login-box">
      <b>登録済みの方</b>
      <p>いつもご利用ありがとうございます。</p>
      <%= link_to 'ログイン', new_user_session_path, class: "btn btn-outline-primary" %>
    </div>
    <div class="col-xl-3 p-xl-5 mx-lg-3 col-md-3 p-md-3 mx-md-1 p-5 form-group bg-white shadow guest-login-box">
      <b>ちょっと立ち寄ってみる</b>
      <p>ゲストユーザーとして、すぐ<br />ご利用いただけます。</p>
      <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "btn btn-outline-info" %>
    </div>
  </div>
</div>
