@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.post_image {
  height: 500px;
  width: 500px;
  object-fit: cover;
}

.user_image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.post_user_image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

// text_areaの入力結果を改行、スペースを持たせ表示させる
p {
  white-space: pre-wrap;
}