<div class="container d-flex justify-content-center">
  <div class="row mt-3 mb-5">
    <div class="col pb-5 text-center">
      <div class="col my-3">
        <h3><i class="fas fa-envelope"></i> お問い合わせ完了</h3>
        <div class="mt-5 text-left customize-border shadow bg-white my-3 p-5">
          <h4>
            お問い合わせいただきありがとうございました！<br />
            今後ともSnuggleを、よろしくお願いいたします。
          </h4>
        </div>
        <div class="mt-5"><p>その他、お気づきの点などございましたら<br />お気軽にお問い合わせください。</p></div>
          <%= link_to "マイページへ", root_path, class: "mt-4 btn btn-outline-primary btn-block" %>
      </div>
    </div>
  </div>
</div>