<div class="container py-3">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-6 m-lg-2 form-group">
      <h4 class="text-center">
        <%= image_tag @user.get_image, class: "user_image avatar" %><br />
        <div class="my-3"><i class="far fa-address-card"></i> ユーザ情報編集</div>
      </h4>
      <%= render 'public/users/form', user: @user %>
    </div>
  </div>
  <div class="row mx-5 d-flex justify-content-center">
    <%= render 'public/users/mypage.btn', user: @user %>
  </div>
</div>
