<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-6">
      <h2 class="mb-4"><span><i class="fas fa-user-friends fa-xs"></i></span> All Users (<%= @publish_user_all.count %>)</h2>
      <%= render 'index', users: @publish_user_all %>
    </div>
  </div>
</div>