<div class="container">
  <div class="row">
    <div class="col-md-4 mb-3 d-none d-md-block">
      <%= render 'public/users/info', user: @user, liked_post: @liked_post, posts: @posts %>
    </div>
    <div class="col-md-6 offset-md-1">
      <%= render 'public/users/posts', user: @user, posts: @posts, page_posts: @page_posts %>
    </div>
  </div>
</div>