<h3>Confirmation screen</h3>
<p>本当に退会しますか？
退会前に下記項目をご確認ください。

・ご登録いただいたアカウント情報の閲覧ができなくなります。
・投稿やいいね・コメントの閲覧ができなくなります。
・同じメールアドレスでの再登録はできなくなります。</p>
<%= link_to '退会する', user_withdraw_path, data: {confirm: "本当に退会しますか？"}  %>
|
<%= link_to '退会しない', user_path(current_user) %>